
<body>
	<div class="details">
		<div class="form-group">
			<label>User Name     : {{userName}} <br>
					Full name    : {{fullName}} <br>
					Email        : {{email}} <br>
					Phone Number : {{phoneNo}} <br>
			</label>
		</div>
	</div>
   <div class="head-content">
       	    <ul class="nav-head">
	            <li> <button  (click)="goToMentee()"> Student </button> </li>
	            <li> <button (click)="goToMentor()">Mentor </button> </li>
        </ul>
       </div>

	<div class="footer">
		<p>&copy; Edulight 2021</p>
	</div>


</body>