*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 22px 5px 0;
    color:black
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo .name{
    margin-left: 5px;
    font-size: 1.5em;
    font-weight: 700;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.head-content .nav-head{
    display: flex;
    margin-right: 10px;
}

.nav-head li{
    padding: 0 10px;
}

.head-content .nav-head li a:hover{
    border-bottom: grey solid 1px;

}
